        public static string TypeName = typeof(TableName).ToString();

        public Dictionary<string, dynamic> PopulateDictionary()
        {
            var rowValues = new Dictionary<string, dynamic>();
            return rowValues;
        }