        public static string TypeName => nameof(TableName);

        public Dictionary<string, dynamic> PopulateDictionary()
        {
            var rowValues = new Dictionary<string, dynamic>();
            return rowValues;
        }