@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@if (Model.FirstFileContent == null)
{
    <strong>Not found!</strong>
}
else
{
    <div id="parent">
        <br />
        <br />
        <h2>
            Total number of files: <span data-bind="text: codeFiles().length"></span>
            out of <span data-bind="text: names().length"></span>
        </h2>
        <button id="moreCode" data-bind="click: GetNextFile" class="pull-right">Get More Code</button>
        <div data-bind="foreach: codeFiles">
            <div data-bind="foreach: fileLines">
                <pre class="codeStyle" data-bind="text: $data">
            </pre>
                <br />
            </div>
            <hr />
        </div>
    </div>
}
@section scripts
{
    <script type="text/javascript">

        $(function () {
            function files(firstFileLines) {
                var self = this;
                self.fileLines = ko.observableArray(firstFileLines);
            }

            function viewModel() {
                var self = this;
                self.names = ko.observableArray(@Json.Serialize(Model.MachingFiles));
                self.codeFiles = ko.observableArray([new files(@Json.Serialize(Model.FirstFileContent))]);
                self.nextFile = 1;
                self.GetNextFile = function () {
                    if (self.nextFile < self.names().length) {
                        self.codeFiles.push(new files(@Json.Serialize(Model.FirstFileContent)));
                        self.nextFile++;
                    }
                }
            }

            var vm = new viewModel();
            ko.applyBindings(vm);
            $('#parent').on('keydown',function () { $('#moreCode').click(); });
        });
    </script>
}