@using System.Threading.Tasks
@using CodingCode.ViewModel
@model DatabaseCodedViewModel
<h2>Database Model succesfully created!</h2>

<a asp-controller="DynamicRaport" asp-action="RandomTable" asp-route-assemblyName="@Model.AssemblyName">Look into random table!</a>