@using System.Threading.Tasks
@using CodingCode.ViewModel

<h2>Database Model succesfully created!</h2>
<a asp-controller="DynamicRaport" asp-action="RandomTable" asp-route-assemblyName="@ViewData["assemblyName"]">Look into random table!</a>